// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newStoryHead{
	font-size: 30px;
	width: 400px;
    height: 0px;
    position: relative;
    -webkit-animation: swing 6s infinite; 
    animation: swing 6s infinite;
    text-align: left;

}
@keyframes swing {
       
    0% {top: 0px; left: 0px; background: white; color: black;}
    25% {top: 0px; left: 1000px; background: white; color: red;}
    50% {top: 600px; left: 1000px; background: white; color: blue;}
    75% {top: 600px; left: 0px; background: white; color: yellow;}
    100% {top: 0px; left: 0px; background: white; color: green;}
    
}

#formForStory{
	margin-top: 100px;
	margin-left: 400px;
	height: 300px;
	width: 500px;
	background: orange;
	text-align: left;
	font-size: 35px;
}

.fieldsNew{
	padding: 0px;
	margin: auto;
	height: 50px;
	width: 55px;
	background: orange;
	color: black;
	margin-left: 5px;
	font-size: 25px;

}


.title{
	// padding: 0px;
	background: white;
	margin-left: 115px;
	margin-top: -300px;
	// border:2px solid red;
	position:relative;
	top: -32px;
}

.genre{
	background: white;
	margin-left: 115px;
	margin-top: -50px;
	// border:2px solid red;
	position:relative;
	top: -60px;
}


.content{
	resize: none;
	font-size: 20px;
	width: 470px;
	height: 275px;
	background: white;
	margin-left: 115px;
	margin-top: -50px;
}

#submitNew{
	height: 30px;
	width: 50px;
	margin-top: -9px;
	margin-left: 300px;
}

#storylist{
	text-align: center;
	font-size: 100px
}


#titleList{
	text-align: center;
}

#storyGenre{
	text-align: center;
}

#storyType{
	text-align: center;
}
