// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: orange;
}

#welcome_greet{
	height: 80px;
	width: 100%;
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
	-webkit-animation: mymove 25s infinite; 
    animation: mymove 25s infinite;
}

// .layer {
// 	background-color: rgba(255,255,255,0.7);
// }

#stp{
	height: 80px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	-webkit-animation: twomove 2s infinite; 
    animation: twomove 2s infinite;
	
}
@keyframes mymove {
     0% {top: 0px; left: 0px; color: green;}
    25% {top: 0px; left: 0px; color: red;}
    50% {top: 0px; left: 0px; color: blue;}
    75% {top: 0px; left: 0px; color: yellow;}
    100% {top: 0px; left: 0px; color: purple;}
}
#wel2{
	height: 80px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	-webkit-animation: rocker 2s infinite; 
	animation: twomove 2s infinite;
}
#wel3{
	height: 80px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	-webkit-animation: rocker 2s infinite; 
    animation: twomove 2s infinite;
}
@keyframes rocker {
     0% {top: 0px; left: 0px;}
    25% {top: 0px; left: 10px;}
    50% {top: 0px; left: 0px;}
    75% {top: 0px; left: 10px;}
    100% {top: 0px; left: 0px;}
}
#wel4{
	height: 80px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}
#wel5{
	height: 80px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}
#profHead{
	height: 80px;
	width: 800px;
	font-size: 50px;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 465px;
	-webkit-animation: mymove 25s infinite; 
    animation: mymove 25s infinite;
}
#profname{
	height: 80px;
	width: 100%;
	font-size: 30px;
	margin-top: 20px;

}

#profuser{
	height: 80px;
	width: 100%;
	font-size: 30px;
	margin-top: 20px;


}

#proftitle{
	width: 400px;
}
#profgenre{
	width: 400px;
}

#profemail{
	height: 80px;
	width: 100%;
	font-size: 30px;
	margin-top: 20px;


}

#profcont{
	height: 300px;
	width: 600px;
	font-size: 30px;
	margin-left: 470px;
	text-align: left;
}

#pcont{
	height: 600px;
	width: 300px;
	margin-left: 570px;
	margin-top: 0px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.cont2{
	height: 100px;
	width: 300px;
	text-align: left;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#proflinks{
	height: 150px;
	width: 400px;
	margin-top: 0px;
	margin-left: 520px;
	text-align: center;
	font-size: 30px;
}

#navbar{
height:50px; 
width:100%;
display: inline-block;
border-radius: 25px;
font-size: 30px;
font-family:'Signika';
background-color: black; 
}


 .navbar{
    display: inline;
    background-color: black;
   // font-family: 'Audiowide', cursive;
   font-size: 1.5vmax;
   text-decoration: none;
   position: absolute;
   top:13vmax;
   left:31vmax;
}

.navbar_item {
   display: inline;
   margin: 5px;
   padding: 5px;
   margin-left: 118px;
   border-radius: 25px;
   color: black;
   background-color: orange;
   border: 2px solid black;
   text-shadow: 1px 1px white;
}

.navbar_item a {
	text-decoration: none !important;
}

.navbar_item:hover{
   background-color: yellow;
}



